/*Style about__container*/
.about__container {
    display: grid;
    grid-template-columns: 30% 50%; /*First is left and second is right*/
    gap: 15%;
}

/*Style about__me*/
.about__me {
    width: 100%;
    aspect-ratio: 1/1; /*Height will match the width*/
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

/*Style about__me-image*/
.about__me-image {
    width: 74%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

/*Add hover effect on about_me-image*/
.about__me-image:hover {
    transform: rotate(0);
}

/*Style about__cards*/
.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

/*Style individual cards using about__card class*/
.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

/*Add hover effect on about__card*/
.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

/*Style icons*/
.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/*Style h5 and small tag inside about__card*/
.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.75rem;
    color: var(--color-light);
}

/*style paragraph*/
.about__content p {
    margin: 2rem 0 2.6rem; /*top, left-right and bottom*/
    color: var(--color-light);
    font-size: 0.95rem;
}

/*Add media queries for responsiveness on smaller devices*/

/* ========================= MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) {
   /*style the whole container*/
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    /*Style the image inside the container*/
    .about__me {
        width: 50%; /*percentage of the original 100%*/
        margin: 2rem auto 4rem; /*2rem for the top, auto for left and right and 4rem for the bottom*/   
    }

    /*Style the p tag inside content*/
    .about__content {
        margin: 1rem 0 1.5rem; /*top, left-right, bottom*/
    }

    
}

/* ========================= MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
   
    /*Style image*/
    .about__me {
       width: 65%; /*of the original*/
       margin: 0 auto 3rem;
   }

   /*Style cards*/
   .about__cards {
       grid-template-columns: 1fr;
       gap: 1rem;
   }

   /*Align content to the center*/
   .about__content {
       text-align: center;
   }

   /*Style p tag inside content*/
   .about__content p {
       margin: 1.5rem 0; /*Top bottom, left and right*/
   }
    
}